/* @import './base.css';

body{
  font-family: 'Montserrat', sans-serif;
}

#app {
}
.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: hsl(hue, saturation, lightness)
}

.card-text{
  max-height: 200px;
  overflow-y: scroll;
}

.card-shadow button{
  font-size: 0.8rem !important;
  font-weight: 700;
} */
